

h1{
    font-variant: small-caps;
}

p{
    font-family: "Times New Roman", sans-serif;
    font-size: 20px;
    font-weight: revert;
    line-height: 25px;
    text-decoration: line-through;
    letter-spacing: 10px;
    color: greenyellow;
    background-color: black;
}