.header{
    background-color: greenyellow;
}

.navbar{
    background-color: aquamarine;
}

.main{
    background-color: #2D4263;
}

.copyright{
    background-color: darkgreen;
}

.main {
    width: 1000px;
    height: 200px;
    color: yellowgreen;
    overflow: auto;
}


