.tiga, .empat, .lima, .enam{
    display: inline-block;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 50px;
}

.satu{
    background-color:skyblue;
    width:200px;
    height: 200px;
    margin-left:auto;
    margin-right: auto;
}

.dua{
    background-color:rebeccapurple;
    width:100px;
    height:100px;
    margin-left:auto;
    margin-right:auto;
}

.tiga{
    background-color: darkgreen;
    width: 50px;
    height: 50px;
}

.empat {
    background-color: bisque;
    width: 50px;
    height: 50px;
}

.lima{
    background-color: blue;
    width: 50px;
    height:50px;
}

.enam{
    background-color: silver;
    width: 50px;
    height:50px;
}