html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




/* --- My Code Here --- */
body{
    background-color: #eaeaea;
    font: 16px/28px arial, sans-serif;
    color: #333;
    background-image: url("image/pattern.png")
}

.container{
    width: 800px;
    margin: auto;
    background-color: white;
}

.header{
    padding: 20px
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

.header a{
    text-decoration: none;
    color: salmon;
    padding:3px;
}

.header a:hover{
    background-color: lightskyblue;
    color: white;
}

.header .navbar ul li{
    display: inline-block;
    margin-right: 5px;
}

.gambar{
    margin-top: -5px;
    margin-bottom: 10px;
    height: 300px;
    background-image: url(image/gambar.png);
    background-size: cover;
    background-position: 0 -150px;
    border-top: 5px solid salmon;
    border-bottom: 5px solid lightskyblue;
}

.content{
    padding: 20px;
    padding-bottom: 15px;
}
.content .judul2{
    margin-bottom: 15px;
}
.content .judul2 h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}

.content .judul2 h5{
    font-size: 12px;
    font-style: italic;
}

.content p{
    margin: 10px auto;
}

.footer {
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    color: #eaeaea;
    padding: 10px;
    background-color: #333333;
    text-align: center;
}